java/core/src/test/resources/com/redhat/rhn/common/validator/SchemaParser_int_float_defaults.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/1999/XMLSchema">
    <attribute name="longDefaultsField">
        <simpleType baseType="long"/>
    </attribute>
    <attribute name="intDefaultsField">
        <simpleType baseType="int"/>
    </attribute>
    <attribute name="doubleDefaultsField">
        <simpleType baseType="double"/>
    </attribute>
    <attribute name="floatDefaultsField">
        <simpleType baseType="float"/>
    </attribute>
</schema>
