java/core/src/main/resources/com/redhat/rhn/frontend/action/user/validation/editAddressForm.xsd

<?xml version="1.0"?>

<schema targetNamespace="http://rhn.redhat.com"
	xmlns="http://www.w3.org/1999/XMLSchema" xmlns:rhn="http://rhn.redhat.com">
	<attribute name="address1">
		<simpleType baseType="string">
			<minLength value="1" />
			<maxLength value="128" />
		</simpleType>
	</attribute>
	<attribute name="address2">
		<simpleType baseType="string">
			<maxLength value="128" />
		</simpleType>
	</attribute>
	<attribute name="city">
		<simpleType baseType="string">
			<minLength value="1" />
			<maxLength value="128" />
		</simpleType>
	</attribute>
	<attribute name="state">
		<simpleType baseType="string">
			<requiredIf field="country" value="US"/>
			<requiredIf field="country" value="CA"/>
			<minLength value="1" />
			<maxLength value="64" />
		</simpleType>
	</attribute>
	<attribute name="zip">
		<simpleType baseType="string">
			<minLength value="1" />
			<maxLength value="64" />
		</simpleType>
	</attribute>
	<attribute name="country">
		<simpleType baseType="string">
			<minLength value="2" />
			<maxLength value="2" />
		</simpleType>
	</attribute>
	<attribute name="phone">
		<simpleType baseType="string">
			<minLength value="1" />
			<maxLength value="32" />
		</simpleType>
	</attribute>
	<attribute name="fax">
		<simpleType baseType="string">
			<maxLength value="32" />
		</simpleType>
	</attribute>
</schema>
